In [4]:
import pandas as pd
import os

#Opening and concatening the files for females and males folders
female = pd.DataFrame()
indir = '/Users/TarjaniAgrawal/Desktop/Springboard/Capstone I_data/Female data'
for root, dirs, filenames in os.walk(indir):
    for f in filenames:
        x = pd.DataFrame.from_csv(indir + '/' + f, index_col= None, sep='\t')
        female = pd.concat([female, x], ignore_index=True)
    print(female.tail())
male = pd.DataFrame()
indir = '/Users/TarjaniAgrawal/Desktop/Springboard/Capstone I_data/Male data'
for root, dirs, filenames in os.walk(indir):
    for f in filenames:
        x = pd.DataFrame.from_csv(indir + '/' + f, index_col= None, sep='\t')
        male = pd.concat([male, x], ignore_index=True)
    print(male.tail())

                                                     Notes State  State Code  \
1048375  data set. Death rates may differ slightly from...   NaN         NaN
1048376  6. For the 2005 year, the Census Bureau estima...   NaN         NaN
1048377  Texas due to Hurricanes Katrina and Rita. CDC ...   NaN         NaN
1048378  these states, nor are these counts included in...   NaN         NaN
1048379  population. However, the USCS web site does in...   NaN         NaN

        Cancer Sites Cancer Sites Code  Year  Year Code Age Group  \
1048375          NaN               NaN   NaN        NaN       NaN
1048376          NaN               NaN   NaN        NaN       NaN
1048377          NaN               NaN   NaN        NaN       NaN
1048378          NaN               NaN   NaN        NaN       NaN
1048379          NaN               NaN   NaN        NaN       NaN

        Age Group Code Race Race Code Deaths Population Crude Rate
1048375            NaN  NaN       NaN    NaN        NaN        NaN
1048376            NaN  NaN       NaN    NaN        NaN        NaN
1048377            NaN  NaN       NaN    NaN        NaN        NaN
1048378            NaN  NaN       NaN    NaN        NaN        NaN
1048379            NaN  NaN       NaN    NaN        NaN        NaN
                                                     Notes State  State Code  \
1048375  data set. Death rates may differ slightly from...   NaN         NaN
1048376  6. For the 2005 year, the Census Bureau estima...   NaN         NaN
1048377  Texas due to Hurricanes Katrina and Rita. CDC ...   NaN         NaN
1048378  these states, nor are these counts included in...   NaN         NaN
1048379  population. However, the USCS web site does in...   NaN         NaN

        Cancer Sites Cancer Sites Code  Year  Year Code Age Group  \
1048375          NaN               NaN   NaN        NaN       NaN
1048376          NaN               NaN   NaN        NaN       NaN
1048377          NaN               NaN   NaN        NaN       NaN
1048378          NaN               NaN   NaN        NaN       NaN
1048379          NaN               NaN   NaN        NaN       NaN

        Age Group Code Race Race Code Deaths Population Crude Rate
1048375            NaN  NaN       NaN    NaN        NaN        NaN
1048376            NaN  NaN       NaN    NaN        NaN        NaN
1048377            NaN  NaN       NaN    NaN        NaN        NaN
1048378            NaN  NaN       NaN    NaN        NaN        NaN
1048379            NaN  NaN       NaN    NaN        NaN        NaN

In [5]:
# Adding Sex column to female and male dataframes and Checking it added properly.
import numpy as np
F = np.array('Female')
female['Sex']= F
M = np.array('Male')
male['Sex']= M
print(female.head())
print(male.head())
female.info()
male.info()

  Notes    State  State Code             Cancer Sites Cancer Sites Code  \
0   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100
1   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100
2   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100
3   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100
4   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100

     Year  Year Code  Age Group Age Group Code  \
0  1999.0     1999.0   < 1 year              1
1  1999.0     1999.0   < 1 year              1
2  1999.0     1999.0  1-4 years            1-4
3  1999.0     1999.0  1-4 years            1-4
4  1999.0     1999.0  5-9 years            5-9

                               Race Race Code Deaths Population Crude Rate  \
0  American Indian or Alaska Native    1002-5      0        104        0.0
1         Asian or Pacific Islander      A-PI      0        245        0.0
2  American Indian or Alaska Native    1002-5      0        535        0.0
3         Asian or Pacific Islander      A-PI      0       1193        0.0
4  American Indian or Alaska Native    1002-5      0        874        0.0

      Sex
0  Female
1  Female
2  Female
3  Female
4  Female
  Notes    State  State Code             Cancer Sites Cancer Sites Code  \
0   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100
1   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100
2   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100
3   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100
4   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100

     Year  Year Code  Age Group Age Group Code  \
0  1999.0     1999.0   < 1 year              1
1  1999.0     1999.0   < 1 year              1
2  1999.0     1999.0  1-4 years            1-4
3  1999.0     1999.0  1-4 years            1-4
4  1999.0     1999.0  5-9 years            5-9

                               Race Race Code Deaths Population Crude Rate  \
0  American Indian or Alaska Native    1002-5      0        122        0.0
1         Asian or Pacific Islander      A-PI      0        219        0.0
2  American Indian or Alaska Native    1002-5      0        507        0.0
3         Asian or Pacific Islander      A-PI      0       1067        0.0
4  American Indian or Alaska Native    1002-5      0        882        0.0

    Sex
0  Male
1  Male
2  Male
3  Male
4  Male
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048380 entries, 0 to 1048379
Data columns (total 15 columns):
Notes                1860 non-null object
State                1046520 non-null object
State Code           1046520 non-null float64
Cancer Sites         1046520 non-null object
Cancer Sites Code    1046520 non-null object
Year                 1046520 non-null float64
Year Code            1046520 non-null float64
Age Group            1046520 non-null object
Age Group Code       1046520 non-null object
Race                 1046520 non-null object
Race Code            1046520 non-null object
Deaths               1046520 non-null object
Population           1046520 non-null object
Crude Rate           1046520 non-null object
Sex                  1048380 non-null object
dtypes: float64(3), object(12)
memory usage: 120.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048380 entries, 0 to 1048379
Data columns (total 15 columns):
Notes                1860 non-null object
State                1046520 non-null object
State Code           1046520 non-null float64
Cancer Sites         1046520 non-null object
Cancer Sites Code    1046520 non-null object
Year                 1046520 non-null float64
Year Code            1046520 non-null float64
Age Group            1046520 non-null object
Age Group Code       1046520 non-null object
Race                 1046520 non-null object
Race Code            1046520 non-null object
Deaths               1046520 non-null object
Population           1046520 non-null object
Crude Rate           1046520 non-null object
Sex                  1048380 non-null object
dtypes: float64(3), object(12)
memory usage: 120.0+ MB

In [6]:
#Concatening male and female columns to make full dataframe
df = pd.concat([female, male], ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2096760 entries, 0 to 2096759
Data columns (total 15 columns):
Notes                object
State                object
State Code           float64
Cancer Sites         object
Cancer Sites Code    object
Year                 float64
Year Code            float64
Age Group            object
Age Group Code       object
Race                 object
Race Code            object
Deaths               object
Population           object
Crude Rate           object
Sex                  object
dtypes: float64(3), object(12)
memory usage: 240.0+ MB

In [7]:
#Deleting NOTES column and CODES columns which are redundant.
df = df.drop(['Notes', 'State Code', 'Cancer Sites Code', 'Year Code', 'Age Group Code', 'Race Code'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2096760 entries, 0 to 2096759
Data columns (total 9 columns):
State           object
Cancer Sites    object
Year            float64
Age Group       object
Race            object
Deaths          object
Population      object
Crude Rate      object
Sex             object
dtypes: float64(1), object(8)
memory usage: 144.0+ MB

In [8]:
#Checking NaN rows
dfnull = df[df.State.isnull()]  
dfnull.head()   
dfnull.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3720 entries, 34884 to 2096759
Data columns (total 9 columns):
State           0 non-null object
Cancer Sites    0 non-null object
Year            0 non-null float64
Age Group       0 non-null object
Race            0 non-null object
Deaths          0 non-null object
Population      0 non-null object
Crude Rate      0 non-null object
Sex             3720 non-null object
dtypes: float64(1), object(8)
memory usage: 290.6+ KB

In [9]:
#Deleting NaN rows
df = df[df.State.notnull()]    
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2093040 entries, 0 to 2096697
Data columns (total 9 columns):
State           object
Cancer Sites    object
Year            float64
Age Group       object
Race            object
Deaths          object
Population      object
Crude Rate      object
Sex             object
dtypes: float64(1), object(8)
memory usage: 159.7+ MB

In [10]:
#Checking what other types of values in Deaths columns
df['Deaths'].value_counts()

0                 1562997
Suppressed         325534
Not Applicable     116280
16                   3359
17                   2882
18                   2879
19                   2627
20                   2487
21                   2285
22                   2202
23                   2100
24                   1908
25                   1896
26                   1694
27                   1692
28                   1555
29                   1526
30                   1477
31                   1376
32                   1335
33                   1334
34                   1289
35                   1191
39                   1084
37                   1083
38                   1066
36                   1046
40                   1002
41                    938
42                    924
                   ...
737                     1
1187                    1
1037                    1
1067                    1
920                     1
1011                    1
767                     1
963                     1
1029                    1
1021                    1
813                     1
974                     1
815                     1
1218                    1
775                     1
1075                    1
946                     1
829                     1
706                     1
801                     1
805                     1
720                     1
1027                    1
727                     1
868                     1
998                     1
1279                    1
863                     1
1092                    1
921                     1
Name: Deaths, dtype: int64

In [11]:
#Checking rows with NOT Applicable
dfNA = df[df['Deaths'] == 'Not Applicable']
dfNA.head()

,State,Cancer Sites,Year,Age Group,Race,Deaths,Population,Crude Rate,Sex
304,Alabama,Male Genital System,1999.0,< 1 year,American Indian or Alaska Native,Not Applicable,Not Applicable,Not Applicable,Female
305,Alabama,Male Genital System,1999.0,< 1 year,Asian or Pacific Islander,Not Applicable,Not Applicable,Not Applicable,Female
306,Alabama,Male Genital System,1999.0,1-4 years,American Indian or Alaska Native,Not Applicable,Not Applicable,Not Applicable,Female
307,Alabama,Male Genital System,1999.0,1-4 years,Asian or Pacific Islander,Not Applicable,Not Applicable,Not Applicable,Female
308,Alabama,Male Genital System,1999.0,5-9 years,American Indian or Alaska Native,Not Applicable,Not Applicable,Not Applicable,Female

In [15]:
# Dropping rows with Deaths as Not applicable which mainly has rows for cancer site as female sex organ for males and vice versa
df = df[df['Deaths'] != 'Not Applicable']

In [1]:
# Looking at the different types of values in other columns in case they have any Nan
#cols = ['State', 'Cancer Sites', 'Year', 'Age Group', 'Race', 'Deaths', 'Population', 'Crude Rate', 'Sex']
#for col in cols:
    #x = df[col].value_counts()
    #print(x)

In [29]:
#Checking rows with NOT Applicable either in Crude Rate or Population
dfNA1 = df[(df['Crude Rate'] == 'Not Applicable') | (df['Population'] == 'Not Applicable')]
dfNA1.head()
dfNA1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46789 entries, 380 to 2061751
Data columns (total 9 columns):
State           46789 non-null object
Cancer Sites    46789 non-null object
Year            46789 non-null float64
Age Group       46789 non-null object
Race            46789 non-null object
Deaths          46789 non-null object
Population      46789 non-null object
Crude Rate      46789 non-null object
Sex             46789 non-null object
dtypes: float64(1), object(8)
memory usage: 3.6+ MB

In [30]:
#Checking rows with NOT Applicable with both Crude Rate and Population
dfNA2 = df[(df['Crude Rate'] == 'Not Applicable') & (df['Population'] == 'Not Applicable')]
dfNA2.head()
dfNA2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46789 entries, 380 to 2061751
Data columns (total 9 columns):
State           46789 non-null object
Cancer Sites    46789 non-null object
Year            46789 non-null float64
Age Group       46789 non-null object
Race            46789 non-null object
Deaths          46789 non-null object
Population      46789 non-null object
Crude Rate      46789 non-null object
Sex             46789 non-null object
dtypes: float64(1), object(8)
memory usage: 3.6+ MB

In [31]:
# Since the same rows had both Population and Crude rate as NOT APPLICATION. Thus, Dropping the rows with Crude Rate or Population is equal to Not Applicable 
df = df[(df['Crude Rate'] != 'Not Applicable') | (df['Population'] != 'Not Applicable')]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1929971 entries, 0 to 2096697
Data columns (total 9 columns):
State           object
Cancer Sites    object
Year            float64
Age Group       object
Race            object
Deaths          object
Population      object
Crude Rate      object
Sex             object
dtypes: float64(1), object(8)
memory usage: 147.2+ MB

In [32]:
# Taking dataframe without Suppressed values for now. 
df = df[(df['Deaths'] != 'Suppressed') | (df['Crude Rate'] != 'Suppressed')]
df.head()

,State,Cancer Sites,Year,Age Group,Race,Deaths,Population,Crude Rate,Sex
0,Alabama,Oral Cavity and Pharynx,1999.0,< 1 year,American Indian or Alaska Native,0,104,0.0,Female
1,Alabama,Oral Cavity and Pharynx,1999.0,< 1 year,Asian or Pacific Islander,0,245,0.0,Female
2,Alabama,Oral Cavity and Pharynx,1999.0,1-4 years,American Indian or Alaska Native,0,535,0.0,Female
3,Alabama,Oral Cavity and Pharynx,1999.0,1-4 years,Asian or Pacific Islander,0,1193,0.0,Female
4,Alabama,Oral Cavity and Pharynx,1999.0,5-9 years,American Indian or Alaska Native,0,874,0.0,Female

In [2]:
# Looking at the different types of values in other columns in case they have any Suppressed
#cols = ['State', 'Cancer Sites', 'Year', 'Age Group', 'Race', 'Deaths', 'Population', 'Crude Rate', 'Sex']
#for col in cols:
    #x = df[col].value_counts()
    #print(x)

In [34]:
# Looking at the data types of columns 
cols = ['State', 'Cancer Sites', 'Year', 'Age Group', 'Race', 'Deaths', 'Population', 'Crude Rate', 'Sex']
for col in cols:
    x = df[col].dtype
    print(col , x)

State object
Cancer Sites object
Year float64
Age Group object
Race object
Deaths object
Population object
Crude Rate object
Sex object

In [35]:
#Converting datatypes of Deaths, Population and Crude Rate
col_name = ['Deaths', 'Population', 'Crude Rate']
for col in col_name:
    df[col] = pd.to_numeric(df[col])
    t = df[col].dtype
    print(col , t)

Deaths int64
Population int64
Crude Rate float64

In [36]:
df.head()

,State,Cancer Sites,Year,Age Group,Race,Deaths,Population,Crude Rate,Sex
0,Alabama,Oral Cavity and Pharynx,1999.0,< 1 year,American Indian or Alaska Native,0,104,0.0,Female
1,Alabama,Oral Cavity and Pharynx,1999.0,< 1 year,Asian or Pacific Islander,0,245,0.0,Female
2,Alabama,Oral Cavity and Pharynx,1999.0,1-4 years,American Indian or Alaska Native,0,535,0.0,Female
3,Alabama,Oral Cavity and Pharynx,1999.0,1-4 years,Asian or Pacific Islander,0,1193,0.0,Female
4,Alabama,Oral Cavity and Pharynx,1999.0,5-9 years,American Indian or Alaska Native,0,874,0.0,Female

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1604437 entries, 0 to 2096697
Data columns (total 9 columns):
State           1604437 non-null object
Cancer Sites    1604437 non-null object
Year            1604437 non-null float64
Age Group       1604437 non-null object
Race            1604437 non-null object
Deaths          1604437 non-null int64
Population      1604437 non-null int64
Crude Rate      1604437 non-null float64
Sex             1604437 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 122.4+ MB

In [38]:
df.count()

State           1604437
Cancer Sites    1604437
Year            1604437
Age Group       1604437
Race            1604437
Deaths          1604437
Population      1604437
Crude Rate      1604437
Sex             1604437
dtype: int64