In [16]:
import pandas as pd
import os

#Opening and concatening the files for females and males folders
female = pd.DataFrame()
indir = '/Users/TarjaniAgrawal/Desktop/Springboard/Capstone I_data/Female data'
for root, dirs, filenames in os.walk(indir):
    for f in filenames:
        x = pd.DataFrame.from_csv(indir + '/' + f, index_col= None, sep='\t')
        female = pd.concat([female, x], ignore_index=True)
    print(female.tail())
male = pd.DataFrame()
indir = '/Users/TarjaniAgrawal/Desktop/Springboard/Capstone I_data/Male data'
for root, dirs, filenames in os.walk(indir):
    for f in filenames:
        x = pd.DataFrame.from_csv(indir + '/' + f, index_col= None, sep='\t')
        male = pd.concat([male, x], ignore_index=True)
    print(male.tail())

                                                     Notes State  State Code  \
1048375  data set. Death rates may differ slightly from...   NaN         NaN
1048376  6. For the 2005 year, the Census Bureau estima...   NaN         NaN
1048377  Texas due to Hurricanes Katrina and Rita. CDC ...   NaN         NaN
1048378  these states, nor are these counts included in...   NaN         NaN
1048379  population. However, the USCS web site does in...   NaN         NaN

        Cancer Sites Cancer Sites Code  Year  Year Code Age Group  \
1048375          NaN               NaN   NaN        NaN       NaN
1048376          NaN               NaN   NaN        NaN       NaN
1048377          NaN               NaN   NaN        NaN       NaN
1048378          NaN               NaN   NaN        NaN       NaN
1048379          NaN               NaN   NaN        NaN       NaN

        Age Group Code Race Race Code Deaths Population Crude Rate
1048375            NaN  NaN       NaN    NaN        NaN        NaN
1048376            NaN  NaN       NaN    NaN        NaN        NaN
1048377            NaN  NaN       NaN    NaN        NaN        NaN
1048378            NaN  NaN       NaN    NaN        NaN        NaN
1048379            NaN  NaN       NaN    NaN        NaN        NaN
                                                     Notes State  State Code  \
1048375  data set. Death rates may differ slightly from...   NaN         NaN
1048376  6. For the 2005 year, the Census Bureau estima...   NaN         NaN
1048377  Texas due to Hurricanes Katrina and Rita. CDC ...   NaN         NaN
1048378  these states, nor are these counts included in...   NaN         NaN
1048379  population. However, the USCS web site does in...   NaN         NaN

        Cancer Sites Cancer Sites Code  Year  Year Code Age Group  \
1048375          NaN               NaN   NaN        NaN       NaN
1048376          NaN               NaN   NaN        NaN       NaN
1048377          NaN               NaN   NaN        NaN       NaN
1048378          NaN               NaN   NaN        NaN       NaN
1048379          NaN               NaN   NaN        NaN       NaN

        Age Group Code Race Race Code Deaths Population Crude Rate
1048375            NaN  NaN       NaN    NaN        NaN        NaN
1048376            NaN  NaN       NaN    NaN        NaN        NaN
1048377            NaN  NaN       NaN    NaN        NaN        NaN
1048378            NaN  NaN       NaN    NaN        NaN        NaN
1048379            NaN  NaN       NaN    NaN        NaN        NaN

In [17]:
# Adding Sex column to female and male dataframes and Checking it added properly.
import numpy as np
F = np.array('Female')
female['Sex']= F
M = np.array('Male')
male['Sex']= M
print(female.head())
print(male.head())
female.info()
male.info()

  Notes    State  State Code             Cancer Sites Cancer Sites Code  \
0   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100
1   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100
2   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100
3   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100
4   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100

     Year  Year Code  Age Group Age Group Code  \
0  1999.0     1999.0   < 1 year              1
1  1999.0     1999.0   < 1 year              1
2  1999.0     1999.0  1-4 years            1-4
3  1999.0     1999.0  1-4 years            1-4
4  1999.0     1999.0  5-9 years            5-9

                               Race Race Code Deaths Population Crude Rate  \
0  American Indian or Alaska Native    1002-5      0        104        0.0
1         Asian or Pacific Islander      A-PI      0        245        0.0
2  American Indian or Alaska Native    1002-5      0        535        0.0
3         Asian or Pacific Islander      A-PI      0       1193        0.0
4  American Indian or Alaska Native    1002-5      0        874        0.0

      Sex
0  Female
1  Female
2  Female
3  Female
4  Female
  Notes    State  State Code             Cancer Sites Cancer Sites Code  \
0   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100
1   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100
2   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100
3   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100
4   NaN  Alabama         1.0  Oral Cavity and Pharynx       20010-20100

     Year  Year Code  Age Group Age Group Code  \
0  1999.0     1999.0   < 1 year              1
1  1999.0     1999.0   < 1 year              1
2  1999.0     1999.0  1-4 years            1-4
3  1999.0     1999.0  1-4 years            1-4
4  1999.0     1999.0  5-9 years            5-9

                               Race Race Code Deaths Population Crude Rate  \
0  American Indian or Alaska Native    1002-5      0        122        0.0
1         Asian or Pacific Islander      A-PI      0        219        0.0
2  American Indian or Alaska Native    1002-5      0        507        0.0
3         Asian or Pacific Islander      A-PI      0       1067        0.0
4  American Indian or Alaska Native    1002-5      0        882        0.0

    Sex
0  Male
1  Male
2  Male
3  Male
4  Male
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048380 entries, 0 to 1048379
Data columns (total 15 columns):
Notes                1860 non-null object
State                1046520 non-null object
State Code           1046520 non-null float64
Cancer Sites         1046520 non-null object
Cancer Sites Code    1046520 non-null object
Year                 1046520 non-null float64
Year Code            1046520 non-null float64
Age Group            1046520 non-null object
Age Group Code       1046520 non-null object
Race                 1046520 non-null object
Race Code            1046520 non-null object
Deaths               1046520 non-null object
Population           1046520 non-null object
Crude Rate           1046520 non-null object
Sex                  1048380 non-null object
dtypes: float64(3), object(12)
memory usage: 120.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048380 entries, 0 to 1048379
Data columns (total 15 columns):
Notes                1860 non-null object
State                1046520 non-null object
State Code           1046520 non-null float64
Cancer Sites         1046520 non-null object
Cancer Sites Code    1046520 non-null object
Year                 1046520 non-null float64
Year Code            1046520 non-null float64
Age Group            1046520 non-null object
Age Group Code       1046520 non-null object
Race                 1046520 non-null object
Race Code            1046520 non-null object
Deaths               1046520 non-null object
Population           1046520 non-null object
Crude Rate           1046520 non-null object
Sex                  1048380 non-null object
dtypes: float64(3), object(12)
memory usage: 120.0+ MB

In [18]:
#Concatening male and female columns to make full dataframe
df = pd.concat([female, male], ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2096760 entries, 0 to 2096759
Data columns (total 15 columns):
Notes                object
State                object
State Code           float64
Cancer Sites         object
Cancer Sites Code    object
Year                 float64
Year Code            float64
Age Group            object
Age Group Code       object
Race                 object
Race Code            object
Deaths               object
Population           object
Crude Rate           object
Sex                  object
dtypes: float64(3), object(12)
memory usage: 240.0+ MB

In [19]:
#Deleting NOTES column and CODES columns which are redundant.
df = df.drop(['Notes', 'State Code', 'Cancer Sites Code', 'Year Code', 'Age Group Code', 'Race Code'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2096760 entries, 0 to 2096759
Data columns (total 9 columns):
State           object
Cancer Sites    object
Year            float64
Age Group       object
Race            object
Deaths          object
Population      object
Crude Rate      object
Sex             object
dtypes: float64(1), object(8)
memory usage: 144.0+ MB

In [21]:
#Checking NaN rows
dfnull = df[df.State.isnull()]  
dfnull.head()   
dfnull.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3720 entries, 34884 to 2096759
Data columns (total 9 columns):
State           0 non-null object
Cancer Sites    0 non-null object
Year            0 non-null float64
Age Group       0 non-null object
Race            0 non-null object
Deaths          0 non-null object
Population      0 non-null object
Crude Rate      0 non-null object
Sex             3720 non-null object
dtypes: float64(1), object(8)
memory usage: 290.6+ KB

In [22]:
#Deleting NaN rows
df = df[df.State.notnull()]    
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2093040 entries, 0 to 2096697
Data columns (total 9 columns):
State           object
Cancer Sites    object
Year            float64
Age Group       object
Race            object
Deaths          object
Population      object
Crude Rate      object
Sex             object
dtypes: float64(1), object(8)
memory usage: 159.7+ MB

In [23]:
#Checking what other types of values in Deaths columns
df['Deaths'].value_counts()

0                 1562997
Suppressed         325534
Not Applicable     116280
16                   3359
17                   2882
18                   2879
19                   2627
20                   2487
21                   2285
22                   2202
23                   2100
24                   1908
25                   1896
26                   1694
27                   1692
28                   1555
29                   1526
30                   1477
31                   1376
32                   1335
33                   1334
34                   1289
35                   1191
39                   1084
37                   1083
38                   1066
36                   1046
40                   1002
41                    938
42                    924
                   ...
762                     1
701                     1
1263                    1
945                     1
868                     1
1071                    1
1212                    1
875                     1
889                     1
951                     1
984                     1
789                     1
935                     1
909                     1
686                     1
776                     1
974                     1
1043                    1
542                     1
828                     1
963                     1
807                     1
1036                    1
1138                    1
1012                    1
706                     1
919                     1
1208                    1
718                     1
733                     1
Name: Deaths, dtype: int64

In [25]:
#Checking rows with NOT Applicable
dfNA = df[df['Deaths'] == 'Not Applicable']
dfNA.head()

,State,Cancer Sites,Year,Age Group,Race,Deaths,Population,Crude Rate,Sex
304,Alabama,Male Genital System,1999.0,< 1 year,American Indian or Alaska Native,Not Applicable,Not Applicable,Not Applicable,Female
305,Alabama,Male Genital System,1999.0,< 1 year,Asian or Pacific Islander,Not Applicable,Not Applicable,Not Applicable,Female
306,Alabama,Male Genital System,1999.0,1-4 years,American Indian or Alaska Native,Not Applicable,Not Applicable,Not Applicable,Female
307,Alabama,Male Genital System,1999.0,1-4 years,Asian or Pacific Islander,Not Applicable,Not Applicable,Not Applicable,Female
308,Alabama,Male Genital System,1999.0,5-9 years,American Indian or Alaska Native,Not Applicable,Not Applicable,Not Applicable,Female

In [26]:
# Dropping rows with Deaths as Not applicable which mainly has rows for cancer site as female sex organ for males and vice versa
df = df[df['Deaths'] != 'Not Applicable']
df['Deaths'].value_counts()

0             1562997
Suppressed     325534
16               3359
17               2882
18               2879
19               2627
20               2487
21               2285
22               2202
23               2100
24               1908
25               1896
26               1694
27               1692
28               1555
29               1526
30               1477
31               1376
32               1335
33               1334
34               1289
35               1191
39               1084
37               1083
38               1066
36               1046
40               1002
41                938
42                924
44                898
               ...
989                 1
775                 1
1071                1
921                 1
1212                1
1333                1
1279                1
755                 1
1148                1
1263                1
874                 1
694                 1
979                 1
974                 1
542                 1
828                 1
1187                1
807                 1
1036                1
952                 1
706                 1
945                 1
700                 1
728                 1
942                 1
703                 1
868                 1
815                 1
951                 1
1043                1
Name: Deaths, dtype: int64

In [27]:
# Looking at the different types of values in other columns in case they have any Nan
cols = ['State', 'Cancer Sites', 'Year', 'Age Group', 'Race', 'Deaths', 'Population', 'Crude Rate', 'Sex']
for col in cols:
    x = df[col].value_counts()
    print(x)

Maryland                38760
Alabama                 38760
Wyoming                 38760
Nebraska                38760
Utah                    38760
Louisiana               38760
Iowa                    38760
Oklahoma                38760
New Mexico              38760
Mississippi             38760
Tennessee               38760
Georgia                 38760
Maine                   38760
Arkansas                38760
South Dakota            38760
Hawaii                  38760
Kansas                  38760
Wisconsin               38760
Ohio                    38760
Rhode Island            38760
Oregon                  38760
District of Columbia    38760
New Hampshire           38760
New York                38760
Missouri                38760
Alaska                  38760
Connecticut             38760
Virginia                38760
Idaho                   38760
Washington              38760
New Jersey              38760
Florida                 38760
Nevada                  38760
Massachusetts           38760
Arizona                 38760
North Dakota            38760
Delaware                38760
Vermont                 38760
Michigan                38760
Texas                   38760
North Carolina          38760
South Carolina          38760
Kentucky                38760
Montana                 38760
West Virginia           38760
Colorado                38760
Minnesota               38760
California              38760
Illinois                38760
Indiana                 38760
Pennsylvania            38760
Name: State, dtype: int64
Kaposi Sarcoma                       116280
Male and Female Breast               116280
Oral Cavity and Pharynx              116280
Mesothelioma                         116280
Soft Tissue including Heart          116280
Endocrine System                     116280
Lymphomas                            116280
Eye and Orbit                        116280
Brain and Other Nervous System       116280
Skin excluding Basal and Squamous    116280
Respiratory System                   116280
Myeloma                              116280
Bones and Joints                     116280
Leukemias                            116280
Digestive System                     116280
Urinary System                       116280
Female Genital System                 58140
Male Genital System                   58140
Name: Cancer Sites, dtype: int64
2011.0    164730
2013.0    131784
2010.0    131784
2009.0    131784
2008.0    131784
2007.0    131784
2006.0    131784
2005.0    131784
2004.0    131784
2003.0    131784
2002.0    131784
2001.0    131784
2000.0    131784
1999.0    131784
2012.0     98838
Name: Year, dtype: int64
20-24 years     104040
65-69 years     104040
35-39 years     104040
1-4 years       104040
45-49 years     104040
60-64 years     104040
80-84 years     104040
40-44 years     104040
5-9 years       104040
70-74 years     104040
15-19 years     104040
50-54 years     104040
25-29 years     104040
10-14 years     104040
55-59 years     104040
85+ years       104040
30-34 years     104040
< 1 year        104040
75-79 years     104040
Name: Age Group, dtype: int64
Black or African American           510663
White                               510663
Asian or Pacific Islander           477717
American Indian or Alaska Native    477717
Name: Race, dtype: int64
0             1562997
Suppressed     325534
16               3359
17               2882
18               2879
19               2627
20               2487
21               2285
22               2202
23               2100
24               1908
25               1896
26               1694
27               1692
28               1555
29               1526
30               1477
31               1376
32               1335
33               1334
34               1289
35               1191
39               1084
37               1083
38               1066
36               1046
40               1002
41                938
42                924
44                898
               ...
989                 1
775                 1
1071                1
921                 1
1212                1
1333                1
1279                1
755                 1
1148                1
1263                1
874                 1
694                 1
979                 1
974                 1
542                 1
828                 1
1187                1
807                 1
1036                1
952                 1
706                 1
945                 1
700                 1
728                 1
942                 1
703                 1
868                 1
815                 1
951                 1
1043                1
Name: Deaths, dtype: int64
Not Applicable    46789
20                 1815
32                 1741
27                 1740
28                 1697
11                 1654
24                 1642
26                 1619
21                 1615
29                 1605
14                 1555
17                 1545
37                 1528
31                 1523
25                 1518
50                 1511
39                 1509
33                 1507
43                 1504
19                 1495
18                 1486
48                 1472
23                 1469
53                 1468
36                 1437
22                 1416
58                 1415
13                 1410
9                  1406
38                 1399
                  ...
65930                15
38043                15
64027                15
16029                15
22945                15
23560                15
9016                 15
26847                15
22886                15
27898                15
7305                 15
14751                15
4132                 15
17597                15
120225               15
23547                15
12076                15
18934                15
24246                15
6382                 15
8817                 15
7757                 15
126057               15
209271               15
11383                15
10292                15
6236                 15
18234                15
27500                15
22677                15
Name: Population, dtype: int64
0.0               1516208
Suppressed         325534
Not Applicable      46789
15.2                  121
8.2                   121
13.9                  120
10.4                  118
13.4                  118
16.2                  113
14.5                  113
8.9                   112
12.6                  112
19.6                  112
13.7                  111
17.3                  111
8.3                   110
14.2                  109
9.6                   109
13.0                  108
15.1                  108
11.2                  107
15.0                  107
11.5                  107
11.3                  107
12.8                  107
12.0                  107
8.8                   107
23.1                  107
9.1                   106
19.5                  106
                   ...
762.9                   1
725.9                   1
567.2                   1
610.2                   1
572.5                   1
594.5                   1
639.2                   1
678.0                   1
1140.6                  1
550.8                   1
943.9                   1
1113.0                  1
488.3                   1
1259.3                  1
787.5                   1
1214.1                  1
790.5                   1
636.6                   1
852.2                   1
580.5                   1
1315.8                  1
468.0                   1
679.3                   1
786.2                   1
435.0                   1
772.5                   1
867.4                   1
781.8                   1
760.8                   1
347.1                   1
Name: Crude Rate, dtype: int64
Female    988380
Male      988380
Name: Sex, dtype: int64

In [29]:
#Checking rows with NOT Applicable either in Crude Rate or Population
dfNA1 = df[(df['Crude Rate'] == 'Not Applicable') | (df['Population'] == 'Not Applicable')]
dfNA1.head()
dfNA1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46789 entries, 380 to 2061751
Data columns (total 9 columns):
State           46789 non-null object
Cancer Sites    46789 non-null object
Year            46789 non-null float64
Age Group       46789 non-null object
Race            46789 non-null object
Deaths          46789 non-null object
Population      46789 non-null object
Crude Rate      46789 non-null object
Sex             46789 non-null object
dtypes: float64(1), object(8)
memory usage: 3.6+ MB

In [30]:
#Checking rows with NOT Applicable with both Crude Rate and Population
dfNA2 = df[(df['Crude Rate'] == 'Not Applicable') & (df['Population'] == 'Not Applicable')]
dfNA2.head()
dfNA2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46789 entries, 380 to 2061751
Data columns (total 9 columns):
State           46789 non-null object
Cancer Sites    46789 non-null object
Year            46789 non-null float64
Age Group       46789 non-null object
Race            46789 non-null object
Deaths          46789 non-null object
Population      46789 non-null object
Crude Rate      46789 non-null object
Sex             46789 non-null object
dtypes: float64(1), object(8)
memory usage: 3.6+ MB

In [31]:
# Since the same rows had both Population and Crude rate as NOT APPLICATION. Thus, Dropping the rows with Crude Rate or Population is equal to Not Applicable 
df = df[(df['Crude Rate'] != 'Not Applicable') | (df['Population'] != 'Not Applicable')]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1929971 entries, 0 to 2096697
Data columns (total 9 columns):
State           object
Cancer Sites    object
Year            float64
Age Group       object
Race            object
Deaths          object
Population      object
Crude Rate      object
Sex             object
dtypes: float64(1), object(8)
memory usage: 147.2+ MB

In [32]:
# Taking dataframe without Suppressed values for now. 
df = df[(df['Deaths'] != 'Suppressed') | (df['Crude Rate'] != 'Suppressed')]
df.head()

,State,Cancer Sites,Year,Age Group,Race,Deaths,Population,Crude Rate,Sex
0,Alabama,Oral Cavity and Pharynx,1999.0,< 1 year,American Indian or Alaska Native,0,104,0.0,Female
1,Alabama,Oral Cavity and Pharynx,1999.0,< 1 year,Asian or Pacific Islander,0,245,0.0,Female
2,Alabama,Oral Cavity and Pharynx,1999.0,1-4 years,American Indian or Alaska Native,0,535,0.0,Female
3,Alabama,Oral Cavity and Pharynx,1999.0,1-4 years,Asian or Pacific Islander,0,1193,0.0,Female
4,Alabama,Oral Cavity and Pharynx,1999.0,5-9 years,American Indian or Alaska Native,0,874,0.0,Female

In [33]:
# Looking at the different types of values in other columns in case they have any Suppressed
cols = ['State', 'Cancer Sites', 'Year', 'Age Group', 'Race', 'Deaths', 'Population', 'Crude Rate', 'Sex']
for col in cols:
    x = df[col].value_counts()
    print(x)

Vermont                 34956
Wyoming                 34936
North Dakota            34599
New Hampshire           34434
Maine                   34284
South Dakota            34234
Montana                 34154
Idaho                   34118
Alaska                  33883
Rhode Island            33856
District of Columbia    33756
West Virginia           33319
Utah                    33286
Delaware                33267
Nebraska                33204
Iowa                    33057
New Mexico              32569
Hawaii                  32477
Kansas                  31930
Oregon                  31883
Kentucky                31752
Connecticut             31685
Arkansas                31588
Nevada                  31575
Colorado                31483
Mississippi             31196
Indiana                 31190
Minnesota               31179
Wisconsin               31029
Alabama                 30941
South Carolina          30893
Missouri                30830
Tennessee               30807
Massachusetts           30663
Louisiana               30347
Ohio                    30266
Arizona                 30241
Oklahoma                30028
Pennsylvania            29988
Maryland                29702
Washington              29653
Georgia                 29421
New Jersey              29393
Virginia                29358
Michigan                29303
North Carolina          29254
Florida                 28931
Illinois                28861
Texas                   27742
New York                27500
California              25436
Name: State, dtype: int64
Mesothelioma                         106235
Bones and Joints                     103799
Eye and Orbit                        101533
Male and Female Breast               100234
Endocrine System                      99859
Skin excluding Basal and Squamous     97956
Myeloma                               95802
Oral Cavity and Pharynx               95117
Soft Tissue including Heart           94517
Urinary System                        93875
Respiratory System                    92344
Lymphomas                             90136
Brain and Other Nervous System        87797
Digestive System                      86704
Leukemias                             85483
Kaposi Sarcoma                        80720
Male Genital System                   47803
Female Genital System                 44523
Name: Cancer Sites, dtype: int64
2011.0    132434
2002.0    110795
2008.0    110257
2000.0    109060
2007.0    108630
2009.0    108373
2010.0    108099
2001.0    106860
2005.0    106602
1999.0    105142
2004.0    105086
2003.0    105028
2006.0    104743
2013.0    103972
2012.0     79356
Name: Year, dtype: int64
< 1 year        100719
1-4 years        97867
5-9 years        97230
10-14 years      97177
15-19 years      95624
20-24 years      93358
25-29 years      90900
30-34 years      87605
35-39 years      83843
40-44 years      80103
85+ years        77374
45-49 years      77231
80-84 years      76897
75-79 years      75545
50-54 years      75030
70-74 years      75003
65-69 years      74536
55-59 years      74209
60-64 years      74186
Name: Age Group, dtype: int64
American Indian or Alaska Native    434716
Black or African American           416021
Asian or Pacific Islander           415444
White                               338256
Name: Race, dtype: int64
0       1516208
16         3359
17         2882
18         2879
19         2627
20         2487
21         2285
22         2202
23         2100
24         1908
25         1896
26         1694
27         1692
28         1555
29         1526
30         1477
31         1376
32         1335
33         1334
34         1289
35         1191
39         1084
37         1083
38         1066
36         1046
40         1002
41          938
42          924
44          898
43          886
         ...
762           1
1165          1
754           1
1071          1
990           1
1212          1
1026          1
909           1
1021          1
1148          1
992           1
874           1
775           1
974           1
828           1
1279          1
542           1
615           1
829           1
807           1
1036          1
1181          1
1333          1
706           1
1154          1
831           1
1092          1
951           1
694           1
737           1
Name: Deaths, dtype: int64
20         1794
27         1710
32         1710
28         1672
11         1642
24         1629
26         1603
21         1595
29         1580
14         1541
17         1526
31         1500
37         1493
25         1492
33         1490
43         1484
50         1483
39         1479
18         1473
19         1467
23         1452
48         1439
53         1437
36         1417
22         1405
13         1401
9          1396
58         1380
38         1377
89         1366
           ...
175420        4
700196        4
190830        4
1085120       4
209344        4
176868        4
84947         4
126714        4
54535         4
309177        4
970807        4
42660         4
1045091       4
1052079       4
99665         4
472739        4
100049        4
718809        4
338837        4
73704         4
481058        3
27278         3
377188        3
233149        3
194405        3
18069         3
188737        3
186744        3
30661         3
439478        3
Name: Population, dtype: int64
0.0       1516208
8.2           121
15.2          121
13.9          120
10.4          118
13.4          118
14.5          113
16.2          113
19.6          112
8.9           112
12.6          112
17.3          111
13.7          111
8.3           110
14.2          109
9.6           109
15.1          108
13.0          108
15.0          107
12.0          107
11.3          107
11.2          107
12.8          107
8.8           107
11.5          107
23.1          107
10.8          106
19.5          106
9.1           106
9.3           105
           ...
955.3           1
475.4           1
1610.6          1
689.7           1
688.7           1
596.6           1
1057.4          1
612.9           1
606.2           1
503.4           1
509.9           1
578.2           1
591.2           1
735.2           1
685.5           1
752.8           1
577.5           1
737.8           1
661.1           1
538.9           1
676.4           1
427.1           1
1156.6          1
587.3           1
806.6           1
737.6           1
706.5           1
556.0           1
1262.0          1
505.8           1
Name: Crude Rate, dtype: int64
Male      809540
Female    794897
Name: Sex, dtype: int64

In [34]:
# Looking at the data types of columns 
cols = ['State', 'Cancer Sites', 'Year', 'Age Group', 'Race', 'Deaths', 'Population', 'Crude Rate', 'Sex']
for col in cols:
    x = df[col].dtype
    print(col , x)

State object
Cancer Sites object
Year float64
Age Group object
Race object
Deaths object
Population object
Crude Rate object
Sex object

In [35]:
#Converting datatypes of Deaths, Population and Crude Rate
col_name = ['Deaths', 'Population', 'Crude Rate']
for col in col_name:
    df[col] = pd.to_numeric(df[col])
    t = df[col].dtype
    print(col , t)

Deaths int64
Population int64
Crude Rate float64

In [36]:
df.head()

,State,Cancer Sites,Year,Age Group,Race,Deaths,Population,Crude Rate,Sex
0,Alabama,Oral Cavity and Pharynx,1999.0,< 1 year,American Indian or Alaska Native,0,104,0.0,Female
1,Alabama,Oral Cavity and Pharynx,1999.0,< 1 year,Asian or Pacific Islander,0,245,0.0,Female
2,Alabama,Oral Cavity and Pharynx,1999.0,1-4 years,American Indian or Alaska Native,0,535,0.0,Female
3,Alabama,Oral Cavity and Pharynx,1999.0,1-4 years,Asian or Pacific Islander,0,1193,0.0,Female
4,Alabama,Oral Cavity and Pharynx,1999.0,5-9 years,American Indian or Alaska Native,0,874,0.0,Female

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1604437 entries, 0 to 2096697
Data columns (total 9 columns):
State           1604437 non-null object
Cancer Sites    1604437 non-null object
Year            1604437 non-null float64
Age Group       1604437 non-null object
Race            1604437 non-null object
Deaths          1604437 non-null int64
Population      1604437 non-null int64
Crude Rate      1604437 non-null float64
Sex             1604437 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 122.4+ MB

In [38]:
df.count()

State           1604437
Cancer Sites    1604437
Year            1604437
Age Group       1604437
Race            1604437
Deaths          1604437
Population      1604437
Crude Rate      1604437
Sex             1604437
dtype: int64